keras-applications=1.0.2
keras-base=2.2.0
keras-bert=0.81.0
keras-embed-sim=0.7.0
keras-gpu=2.2.0
keras-layer-normalization=0.14.0
keras-multi-head=0.22.0
keras-pos-embd=0.11.0
keras-position-wise-feed-forward=0.6.0
keras-preprocessing=1.0.1
keras-radam=0.15.0
keras-self-attention=0.41.0
keras-transformer=0.32.0
tensorflow-gpu=1.7.0
tensorflow-gpu-base=1.7.0
